.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  background-color: none;
}
form {
  width: 90%;
  max-width: 400px;
  padding: 30px;
  border: 5px double #ccc;
  border-radius: 10px;
  background-color: none;
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 2px;
  color: white;
  font-size: 22px;
  font-family: "IBM Plex Mono, monospace";
}

input[name="name"],
input[name="email"] {
  width: 95%;
  margin-bottom: 16px;
  padding: 6px;
  border-radius: 3px;
}

textarea[name="message"] {
  width: 93%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 100px;
}

.button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 16px;
  display: block;
  margin-left: 15px;
  width: 90%;
}
.button:hover {
  background-color: #bd9006;
}

.success-message {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: none;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .form-container {
    margin-top: 10%;
    width: 65%;
    margin-left: 17%;
  }

  label {
    font-size: 16px;
  }

  .button {
    font-size: 12px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .form-container {
    margin-top: 10%;
  }
}
